*{
    border: 1px solid red; 
}
.cachorro{
    /*Padding: espaçamento interno do elemento*/
    border: 2px solid blue;
    /*top, right, botton, left*/
    padding: 70px 30px 40px 10px;
    width: 150px;
    /*Margin: propiedade de espaçamento externo ao elemento*/
    margin: 20px 40px 10px 5px;
}
.gato{
    border: 2px solid brown;
    width: 300px;
    padding: 40px 50px 30px 10px;
    margin: 5% 30% 10% 20%;
}